body {
    margin: 0;
}
a, .connect {
    text-decoration: none;
    font-family: 'Inter';
    position: relative;
}

.navigation {
    width: 100%;
    background: white;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.navigation li, .navigation a {
    list-style-type: none;
}



.Logo a {
    font-family: 'Merriweather';
    font-size: 36px;
}

.user-cat {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-self: flex-end;
}

.cart {
    position: relative;
}

.items-cart {
    position: absolute;
    bottom: 0;
    background: red;
    text-align: center;
    padding: 1px;
    right: 0;
    font-size: 0.7em;
    color: #73A580;
    font-weight: 600;
}